{% macro show_links() %}
<ul class="nav justify-content-center bg-dark p-2" >
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" href="#">Quizzy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Logout</a>
    </li>
  </ul>
</ul>

{% endmacro %}
